.DS_Store
test_task/__pycache__
sheets_app/__pycache__
sheets_app/migrations/__pycache__
sheets_app/static/__pycache__
sheets_app/static/.DS_Store
sheets_app/static/sheets_app/.DS_Store
sheets_app/utils/__pycache__
sheets_app/utils/.DS_Store
.DS_Store
